@import "../GlobalVariables.module.scss";

.topContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.topTitle {
    font-weight: 600 !important;
    font-size: $grande !important;
    color: $fundo-cinza !important;
}

.topButton {
    height: 45px !important;
    width: 200px !important;
    color: $cinza-escuro !important;
    background-color: $amarelo-default !important;
    box-shadow: none !important;
}

.topButtonText {
    font-size: $micro !important;
    font-weight: bold !important;
}

.topButton:hover {
    background-color: $amarelo-claro-default !important;
    box-shadow: none !important;
}

.midContainer {
    display: flex;
}

.midGrid {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.midLeft {
    display: flex;
    border-bottom: 4px solid $amarelo-default;
}

.midLeftTitle {
    color: $cinza-escuro;
    font-size: $normal;
}

.midRight {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 3px solid $cinza-claro;
}

.table {
    min-height: 60vh;
    max-height: 60vh;
    width: 100%;
    overflow-y: scroll;
}

.table::-webkit-scrollbar {
    width: 5px;
}

.table::-webkit-scrollbar-track {
    background-color: transparent;
}

.table::-webkit-scrollbar-thumb {
    background-color: #D6DEE1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.table::-webkit-scrollbar-thumb:hover {
    background-color: #A8BBBF;
}
