@import "../GlobalVariables.module.scss";

.logo {
    background-image: url("../../images/login/logo.svg");
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
}

.well {
    color: $fundo-cinza;
    margin-left: 1em;
}

@media (max-width: $sm) {
    .container_formulario {
        width: 100vw;
        height: 100vh;
    }
    .imagem {
        flex: 0;
    }
    .titulo {
        font-size: $pequena;
    }
}

@media (max-width: $md) {
    .container {
        flex-direction: column;
    }
    .container_formulario {
        position: absolute;
        padding: 1em;
        width: 50vw;
        height: 50vh;
        top: 25%;
        right: 25%;
        border-radius: 1em;
    }
    .imagem {
        flex: 1;
        background-position: center;
    }
}