@import "../GlobalVariables.module.scss";
;

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
}

.table {
    height: 45vh;
    width: 40vw;
    background-color: #fff;
}

.titulo {
    height: 2em;
    color: #fff;
    font-size: $media;
    ;
    background-color: $cinza-escuro;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs {
    padding: 0.5em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 0.5em;
}

.button {
    width: 7pc !important;
    margin: 0em 1em !important;
    box-shadow: none !important;
    background-color: $amarelo-default !important;
    color: $cinza-escuro !important;
}

.button:hover {
    background-color: $amarelo-claro-default !important;
    box-shadow: none !important;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

//estilisação da tabela
.tableContainer{
    height: 9em;
}
