@import "../GlobalVariables.module.scss";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
}

.modalFormContainer {
    outline: none;
    background-color: $fundo-branco;
    height: 35vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
}

//titulo
.titulo {
    background-color: $cinza-escuro;
    padding: 0.5em 0.5em;
    color: white;
    font-weight: bold;
    font-size: $normal;
}

//formulario
.form{
    padding: 0.5em 3em;
    display: flex;
    flex-direction: column;
}

.innerForm {
    display: flex;
    flex-direction: column;
}

//campos
.fields {
    flex: 1;
    margin: 1em;
}

//botões
.botoes {
    flex: 1;
    display: flex;
    margin: 1em;
}

.button{
    width: 7pc !important;
    margin: 0em 1em !important;
    box-shadow: none !important;
    background-color: $amarelo-default !important;
    color: $cinza-escuro !important;
}

.button:hover {
    background-color: $amarelo-claro-default !important;
    box-shadow: none !important;
}

//titulo do dialog de confirm
.confirmTitle{
    text-align: center;
}