@import "../GlobalVariables.module.scss";

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.topContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topContainerTitle {
    font-weight: 600 !important;
    font-size: $grande !important;
    color: $fundo-cinza !important;
}

.topButton {
    height: 45px !important;
    width: 200px !important;
    color: $cinza-escuro !important;
    background-color: $amarelo-default !important;
    box-shadow: none !important;
}

.topButtonText {
    font-size: 10px !important;
    font-weight: bold !important;
}

.topButton:hover {
    background-color: $amarelo-claro-default !important;
    box-shadow: none !important;
}

.searchGrid {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.table {
    height: auto;
    flex: 1;
    overflow-y: scroll;
}

.table::-webkit-scrollbar {
    width: 5px;
}

.table::-webkit-scrollbar-track {
    background-color: transparent;
}

.table::-webkit-scrollbar-thumb {
    background-color: #D6DEE1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.table::-webkit-scrollbar-thumb:hover {
    background-color: #A8BBBF;
}